.a-enter-ar-button, .a-enter-vr-button {
    z-index: 999!important;
}
html:not(.a-fullscreen) .a-enter-vr {
    top: 45px !important;
    bottom: unset !important;
    left: 5px;
    button{right: unset !important;}
}
.btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus {
    z-index: 0;
}

/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (min-width: 768px) and (max-width: 1023px){
    
}

/**********************************************************
/ Smartphone layout
/*********************************************************/
@media screen and (max-width: 767px){
    
}
